# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django/Migrations
*/migrations/
db.sqlite3

# Django staticfiles
staticfiles/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de log e cache
*.log
*.pot
*.pyc
.DS_Store

.env
*.env

Thumbs.db
ehthumbs.db
Desktop.ini
